#content
{
	padding: 25px 50px 75px 100px;
}
#navigation
{

}
#nav
{
	display: inline-table;
}
#context
{
    float:left; 
}
#footer 
{
    background-color:#eeeeee;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}