#content
{
	padding: 25px 50px 75px 100px;
}
#header
{
}
#logo
{
	float:left;
}
#title
{
	float: center;
}
#navigation
{
	float: center;
}
.nav
{
	display: inline-table;
}
#services
{
    background-color:#eeeeee;
    float:left;
}
#context
{
    float:left; 
}
#footer 
{
    background-color:#eeeeee;
    clear:both;
    text-align:center;
    padding:5px; 
}